<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transaction History</title>
</head>
<body>
<a href="/deposit">Make a Deposit</a>
<a href="/withdrawal">Withdrawal money</a>
<table>
    <tr>
        <th>Account</th>
        <th>Action</th>
        <th>Reason</th>
        <th>Amount</th>
    </tr>
    <tr th:each="transaction:${transactions}">
        <td th:text="${transaction.account}"></td>
        <td th:text="${transaction.action}"></td>
        <td th:text="${transaction.reason}"></td>
        <td th:text="${transaction.amount}"></td>
    </tr>
</table>
</body>
</html>